<p-panel header="Estudiantes">
	<div class="col-sm-12">
    <div class="pull-right">
        <button class="btn btnSave ng-binding" (click)="modalAddProfesor(addProfesor)">
          <i class="fa fa-plus-circle iconAdd" aria-hidden="true"></i>
          Adicionar estudiante
        </button>
    </div>
    <br>
    <p-table #dt [value]="profesores" [responsive]="true" dataKey="ID">
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th style="text-align: center;" class="letraHeaderTab">Nombre</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-profesor let-expanded="expanded">
        <tr>
          <td style="text-align: center;">{{profesor.nombre}}</td>
        </tr>
      </ng-template>
    </p-table>
	</div>
</p-panel>
<ng-template #addProfesor>
	<div class="modal-header">
		<label class="letra">Adicionar profesor</label>
	</div>
  <app-modal-add-personas [modalRef]="modalRef" #infoPer></app-modal-add-personas>
  <div class="col-sm-12" *ngIf="msgReq">
      <p style="color: red;">&nbsp;&nbsp;&nbsp;*Todos los campos son queridos</p>
  </div>
  <div class="modal-footer">
    <div class="pull-right">
      <button type="button" class="btn btnSave" (click)="btnAddProfesor(infoPer)">
        <i class="fa fa-check-circle iconAdd" aria-hidden="true"></i>
        Adicionar
      </button>
      <button type="button" class="btn btnCancel" (click)="modalRef.hide()">
        <i class="fa fa-times-circle iconCan" aria-hidden="true"></i>
        Cancelar
      </button>
    </div>
  </div>
</ng-template>


