<div class="image">
  <br>
  <br>
  <div class="center">
    <div class="row">
      <div class="col-sm-4">
        <div class="info-box">
          <span class="info-box-icon bg-info elevation-1"><i class="fa fa-tasks"></i></span>

          <div class="info-box-content">
            <span class="info-box-text">Cursos</span>
            <span class="info-box-number">
              {{numCurso}}
            </span>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="info-box">
          <span class="info-box-icon bg-danger elevation-1"><i class="fa fa-users"></i></span>

          <div class="info-box-content">
            <span class="info-box-text">Profesores</span>
            <span class="info-box-number">
             {{numProfesor}}
            </span>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="info-box">
          <span class="info-box-icon bg-success elevation-1"><i class="fa fa-graduation-cap"></i></span>

          <div class="info-box-content">
            <span class="info-box-text">Estudiantes</span>
            <span class="info-box-number">
              {{numEstudiante}}
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




